#priority-container {
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
}

.priority-box {
    width: 100%;

    overflow-y: auto;
    height: 50vh;

    padding-top: 25px;

    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-right: 30px;
}

.priority-title {
    margin-bottom: 40px;
}

.task-minim {
    margin-bottom: 25px;
}

#members-list {
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    flex-wrap: wrap;
}

#members {
    display: flex;
    flex-wrap: wrap;
}

#members > span {
    margin-left: 5px;
    margin-right: 5px;

}