body {
    background-image: url(/img/1024x1024.png);
    background-position-x: 50%;
    background-position-y: 10vh;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    backdrop-filter: blur(10px);

}

.footer {
    padding-top: 40px;
    padding-bottom: 20px;
}

.copyright {
    margin-bottom: 0px;
}

#banner {
    overflow: hidden;
    white-space: nowrap;
}

.banner-text {
    font-style: italic;
    font-family: "Bebas";
    word-break: keep-all;

    font-size: 80px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 50px;
}