button {
    margin: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;

    border-radius: 8px;
    font-weight: bolder;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea, select {
    margin: 5px;
    font-size: 20px;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;

    border-radius: 5px;
}


.grad-btn {
    background: var(--main-color);

    color: var(--medium-color);

    font-size: 25px;

    border-width: 0px;
    box-shadow: 0 0 20px var(--dark-color);

    transition: .5s;
}

.grad-dark-btn {
    background: var(--background-gradiant);

    color: var( --background-gradiant);

    font-size: 25px;

    border-width: 0px;
    box-shadow: 0 0 20px var(--dark-color);

    transition: .5s;
}

.grad-btn:hover {
    box-shadow: 0 0 20px var(--main-header-bg-color);
    transition: .5s;

}

.contactus-form {
    display: flex;
    width: 50%;
}

.contactus-left {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    display: grid;
}

.contactus-left > input {
    margin-top: 20px;
}

.form-footer {
    margin-left: 30px;
    text-align: start;
}

#form-status {
    color: red;
}