h2 {
    font-size: 35px;
}

#box-container {
    position: relative;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    top: 50%;

    width: 40%;
}

.box {
    background: var(--light-color);
    background: var(--background-gradiant);

    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 0 30px black;

    width: 100%;
}
