:root {
    --main-bg-color: #121212;
    --main-header-bg-color: #000610;
    --main-border-width: 2px;
    --header-border-color: #808080;
    --main-color: #ffffff;
    --main-border-radius: 20px;

    --main-margin-right: 20px;
    --main-margin-bottom: 0px;

    --container-margin-right: 20px;

    --second-bg-color: #191921;
    --circle-radius: 20000px;

    --circle-bottom: -25vh;

    --light-color: rgb(84, 24, 43);
    --dark-color: rgb(49, 23, 43);
    --background-gradiant: linear-gradient(130deg, var(--light-color) 50%, var(--dark-color) 100%);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    margin: 0px;

    font-family: Consolas, monaco, monospace;
}

header {
    background-color: var(--main-header-bg-color);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: var(--main-border-width);
    border-bottom-color: var(--header-border-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

#header-left {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#header-right {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;

    font-size: 25px;
}

footer {
    text-align: center;
}

a:visited {
    color: #f44336;
}

#main {
    margin-left: var(--main-margin-right);
    margin-right: var(--main-margin-right);
}

.container {
    margin-bottom: 100px;
    margin-top: 100px;
}

.text-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 70px;
}

pre {
    font-size: 35px;
}

h2 {
    margin: 0px;
}

.small-hr {
    width: 25%;
}