:root {
    --main-bg-color: #121212;
    --main-header-bg-color: #000610;
    --main-border-width: 2px;
    --header-border-color: #808080;
    --main-color: #ffffff;
    --main-border-radius: 20px;

    --main-margin-right: 20px;
    --main-margin-bottom: 0px;

    --container-margin-right: 20px;

    --second-bg-color: #191921;
    --circle-radius: 20000px;

    --circle-bottom: -25vh;

    --light-color: rgb(84, 24, 43);
    --medium-color: #711f35;
    --dark-color: rgb(49, 23, 43);
    --background-gradiant: linear-gradient(135deg, var(--light-color) 50%, var(--dark-color) 100%);
    --background-dark-gradiant: linear-gradient(135deg, var(--main-header-bg-color) 30%, var(--dark-color) 80%);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    margin: 0px;

    font-family: Consolas, monaco, monospace;
}

footer {
    text-align: center;
}

a:link {
    color: #3777CA;
}

a:visited {
    color: #f44336;
}

#main {
    margin-left: var(--main-margin-right);
    margin-right: var(--main-margin-right);
}

.container {
    margin-bottom: 100px;
    margin-top: 100px;
}

.text-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 70px;
}

pre {
    font-size: 35px;
}

h2 {
    margin: 0px;
}

.small-hr {
    width: 25%;
}